/* Let's do mobile first and then do desktop (potentially a medium viewport if we have time) */
* {
  font-family: "Lexend", sans-serif;
}

nav a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  background-color: #421b1b; 
  padding: 0.5rem 2rem; 
}

h2.BCRS {
  font-family: "Arial", sans-serif;
  font-size: 1.8rem;
  margin: 0;
}

nav .goldLogo {
  color: #cd9f58; 
}

nav .whiteLogo {
  color: #ffffff; 
}

nav .links {
  display: flex;
  gap: 1.5rem;
}

nav p {
  margin: 0 1.5rem; 
  font-weight: bold;
  position: relative;
}

nav p a {
  text-decoration: none;
  color: #ffffff;
}

nav h2 a span {
  text-decoration: none;
}

nav p a:hover {
  color: #cd9f58; 
}

nav div.signin {
  display: flex;
  align-items: center;
  gap: 0.5rem; 
  background-color: #231F20;
  padding: 0.5rem 1rem; 
  border-radius: 0.5rem;
}

.signin img {
  width: 1.2rem; 
  height: auto;
}

.signin a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.signin a:hover {
  color: #cd9f58; 
}


nav .menu-icon {
  display: none; 
  font-size: 2rem;
  color: #ffffff;
  cursor: pointer;
}


@media screen and (max-width: 768px) {
  nav {
    justify-content: space-between;
  }

  nav .menu-icon {
    display: block; 
    width: 2rem;
    height: auto;
  }

 /* nav .links {
    display: none;
    } */

    nav .links.active {
      display: flex;
      flex-direction: column; 
      position: absolute;
      background-color: #421b1b; 
      padding-bottom: 1rem;
      padding-top: 1rem;
      top: 7%;
      left: 0;
    }

  }

.section-title {
    font-size: 2.5rem;
    font-weight: 200;
    text-align: center;
    margin-bottom: 2rem;
}

.keyword {
    font-size: 2.5rem;
    font-weight: 600;
    color: #101820;
}

#post {
    background-color: #f8fafc;
    color: #101820;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 2rem 1rem;
    width: 100%;
    height: auto; 
}

#post .container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
}

form div {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#post input, 
#post select, 
#post textarea {
    font-size: 1rem;
    padding: 0.75rem 1rem;
    border: 1px solid #e2e8f0;
    border-radius: 25px;
    background: #f8fafc;
    outline: none; 
    transition: border 0.3s ease;
}

input:focus, 
select:focus, 
textarea:focus {
    border: 1px solid #101820;
}

.calendar-button {
    display: inline-block;
    font-size: 1rem;
    padding: 0.75rem;
    border: 1px solid #e2e8f0;
    border-radius: 25px;
    background: #101820;
    color: #ffffff;
    cursor: pointer;
}

.submit-button {
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
    background: #000000;
    color: #ffffff;
    border: none; 
    border-radius: 25px; 
    cursor: pointer; 
}

.submit-button:hover {
    background: #000000;
}

.upload-box {
    border: 2px dashed #e2e8f0;
    border-radius: 8px; 
    padding: 2rem;
    text-align: center; 
    color: #6b7280;
    cursor: pointer; 
    transition: border 0.3s ease, color 0.3s ease;
}

.upload-box:hover {
    border-color: #101820;
    color: #101820;
}

.form-gender {
    display: flex;
    justify-content: space-between;
}

#post select {
    display: inline;
}

#post i {
    display: inline;
}

body.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .aboutUs {
    display: flex !important;
    background-color: #cd9f58 !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px 50px;
  }
  
  .image-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
  }
  
  .image-container img {
    width: 100vw;
    z-index: -1;
  }
  
  .overlay-text {
    position: absolute;
    color: white;
    text-align: center;
  }
  
  p.imgResTop {
    display: flex;
    font-size: 4rem;
    font-weight: 900;
    /*   background: rgba(136, 0, 21, 0.6);
    padding: 10px;
    border-radius: 25px; */
  }
  
  p.imgResBottom {
    margin-top: 10%;
    width: 70%; /* Set width to 50% of its parent container */
    height: 200px;
    text-align: left;
    text-indent: 30px;
    color: white;
    width: 70vw;
  }
  
  .gold {
    width: 100vw;
    height: 30px;
    background-color: #cd9f58;
  }
  
  div.maroon {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 550px;
    background-color: #852221;
  }
  
  div.services {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 930px;
    background-color: #cd9f58;
  }
  
  .image-container2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    width: 100vw;
  }
  
  div.services img {
    width: 100vw;
  }
  
  div.image-container2 .section-title-about {
    position: absolute;
    text-align: center;
  }
  
  div.problems {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  div.problems .services {
    margin-top: 10%;
    margin-left: 25px;
    margin-right: 25px;
    padding: 10px;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    background-color: #852221;
  }
  
  .section-title-about {
    font-size: 2.5rem;
    font-weight: 900;
    text-align: center;
    color: white;
  }
  
  .servicesExplanation {
    margin-top: 10%;
    text-align: left;
    text-indent: 30px;
    color: white;
    width: 80vw;
  }
  
  .mission {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
  }
  .mission img {
    width: 100vw;
  }
  
  .mission p {
    position: absolute;
  }
  
  .statement {
    display: flex;
    background-color: #852221;
    width: 100vw;
    justify-content: center;
  }
  .statement p{
    color: white;
    width: 80vw;
    text-align: center;
  }
  
  .team {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: center;
    background-color: #cd9f58;
  }
  
  .teamMember {
    display: flex;
    max-width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 20px;
  }
  .team img{
    max-width: 50%;
    height: auto;
    object-fit: cover;
  }
  .teamMember a{
    color: white;
     text-decoration: none;
  }
  
  
  
  footer {
    background-color: #121212; /* Dark background */
    color: white;
    padding: 40px 20px;
    text-align: center;
    font-family: 'Arial', sans-serif; /* Adjust as needed */
  }
  
  .footer-quote {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 40px;
  }
  
  .footer-details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
  
  .footer-column {
    flex: 1;
    min-width: 200px;
    margin: 0 20px;
  }
  
  .footer-column h4 {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 10px;
    border-bottom: 1px solid white;
    display: inline-block;
  }
  
  .footer-column p {
    font-size: 0.9rem;
    line-height: 1.8;
    margin: 5px 0;
  }
  
  .social-icons a {
    display: inline-block;
    margin-right: 10px;
  }
  
  .social-icons img {
    width: 20px;
    height: 20px;
  }
  
  .footer-bottom {
    font-size: 0.8rem;
    border-top: 1px solid white;
    padding-top: 10px;
    margin-top: 20px;
  }
  
  
/* 

footer {
    background-color: #501315;
    padding: 2rem 0;
    color: #ffffff;
    font-size: 1rem; 
    text-align: center;
} */


/* CSS for medium viewport (might not use) */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
}

/* CSS for large viewport */
@media only screen and (min-width: 1024px) {
}